

node_modules/
npm-debug.log*
yarn-error.log*
.env


dart_tool/
flutter-plugins
flutter-plugins-dependencies
.packages
.pub-cache/
build/


anroid/.gradle/
android/local.properties
android/app/debug.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
macos/Flutter/ephemeral
windows/flutter/ephemeral
linux/flutter/ephemeral


.vscode/
.idea/
*.iml


.DS_Store
Thumbs.db
